a
{
	color:#87CEFA;
} 
body
{
	background:#E9E9E9;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px
}
header 
{
	background: #D9FBFB;
	border-radius: 0.2em;
	overflow: hidden;	
	padding:0 0 0.5em 1em ;
	position: relative;
}
header h1
{
	color:white;
	font-weight: bold;
	font-size:1.5em;
}
nav
{
	background: #FFFFFF;
	position: relative;
	overflow: hidden;
	padding: 1em;
}
nav ul 
{
	list-style: none;
	margin-top: -0.5em;
}
nav ul a
{
	padding:0.2em;
	text-decoration: none;
}
nav ul #visto_nav
{
	display: inline-block;
	position: absolute;
	right:0;
}
nav ul #votado_nav
{
	position: absolute;
	left:0;
}
nav ul #visto_nav #link_nav
{
	margin-right: 2em;
}
nav ul #votado_nav #linki_nav
{
	margin-left: 2em;
}
header #avatar
{
	margin: 0.5em 0.5em 0.5em 0;
	position: absolute;
	right: 0;
	top: 0;
}
header #avatar img 
{
	border-radius: 0.5em;
	width:60px;
}

#contenido 
{
	background:#B4D3D3;
	border-radius: 0.3em;
	margin:1em;
	padding: 0.5em;
}
#contenido .item .foto_item img
{
	width:315px;
	border-radius: 0.1em;
	display: inline-block;
}
#contenido .item .areacoment
{
	background: red;
}